<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
    <head>
    </head>
    <body rsf:id="scr=sakai-body">
	<h3 rsf:id="scorm-title"></h3>

        <p rsf:id="scorm-item-status"></p>

        <p rsf:id="scorm-item-completed">Module completed!</p>


	<a href="#" rsf:id="return" class="usebutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Back</a> 
    </body>
</html>
